*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Work Sans';
    font-size: 10px;
    color: #333;
}

header{
    width: 100%;
    height: 150vh;
    position: relative;

}
label{
    margin: 0 40px 0 0;
    font-size: 30px;
    line-height: 70px;
    display: none;
}
#toggle{
    display: none;
}

a{
    text-decoration: none;
    color: inherit;
}




.menu{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .075);
    z-index: 1000;
}

.logo{
    width: 5rem;
    box-sizing: content-box;
    padding-left: 5rem;
    

}
.logo img{
    display: block;
    width: 300%;
    margin-left: -5rem;
}
#logo2{
    z-index: -5000;
    
    width: 10%;
}

.menu ul{
    height: 8rem;
    list-style: none;
    display: flex;
    font-size: 1.6rem;
}

.menu ul li{
    padding: 0 4rem;
    line-height: 8rem;
    transition: background-color .5s ;
  
}
.menu ul li:hover{
    background-color: rgba(0, 0, 0, .075);
}

.nav-right ul li{
    border-right: 1px solid rgba(0, 0, 0, .075);
}

.nav-right ul li:nth-child(1){
    border-left: 1px solid rgba(0, 0, 0, .075);
}

.nav-right ul li:last-child{
    margin-right: none;
}

.nav-right i{
    margin-right: 1rem;
}

.nav-right i:first-child{
    margin-right: 0;
}

.main{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.tone-1{
    background-color: #E5E5E5;
    height: 100vh;
    flex: 1;
}

.tone-2{
    background-color: #FFCDA9;
    height: 100vh;
    flex: 1;
    position: relative;
}
.tone-2 img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: -15rem;
    transform: translateY(-50%);
}

.product-info{
    display: flex;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product-info h1{
    font-size: 5rem;

font-family: 'Work Sans';
letter-spacing: 3px;
margin-right: -3px;
font-weight: 100;
margin-bottom: 1rem;
text-align: center;
}

.product-info p{
    font-size: 1.8rem;
    margin-bottom: 4rem;
    text-align: center;
    font-family: 'Work Sans';
    line-height: 2;
}

.product-info h2{
    font-size: 2.5rem;
    margin-bottom: 5rem;
    font-family: 'Work Sans';
}

.btn{
    display: flex;
    padding: 2rem;
    color: #E5E5E5;
    font-size: 1.5rem;
    font-weight: 900;
    transition: all .5s;
    font-family: 'Work Sans';

}

.info-btns{
    display: flex;
}

.discover-btn{
    background-color: #C4C4C4;
}

.cart-btn{
    background-color: #433F3F;
}

.discover-btn:hover ,
.cart-btn:hover {  
    box-shadow: 3px 1rem 2rem rgba(0, 0, 0, .3);
    transform: translateY(-1rem);
}


.second-main{
        position: absolute;
        display: flex;
        top: 99vh;
        left: 0;
        right: 0;
        bottom: 0;
     
}
.main-left{
    background-color: #E5E5E5;
    height: 100vh;
    flex: 1;
    
}
.main-right{
    background-color: #FFCDA9;
    height: 100vh;
    flex: 1;
    position: relative;
    width: 50%;
}
.main-left img{
    width: 60%;
    position: absolute;
    top: 7%;
    transform: translateY(-40%);
    
}
.product-info2{
    width: 90%;
    height: 65%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product-info2 h1{
    font-size: 3.5rem;
    font-family: 'Work Sans';
    letter-spacing: 3px;
    margin-right: -3px;
    font-weight: 100;
    margin-bottom: 1rem;
    text-align: center;
}

.product-info2 p{
    font-size: 1.8rem;
    margin-bottom: 4rem;
    text-align: center;
    font-family: 'Work Sans';
    line-height: 2;
}
.promo{

    background-color: #F2F2F2;
    position: absolute;
    width: 100%;
    height: 70vh;
    top: 150%;
    
}

.promo h4{
    font-size: 15rem;
    position: absolute;
    font-family: 'Work Sans';
    text-align: center;
    left: 23%;
    right: 23%;
    top: 10%;
}

.left {
    position: absolute;
    width: 76%;
    left: -40%;
    bottom: 5%;
    opacity: 50%;
}

.right{
    position: absolute;
    width: 76%;
    bottom: 3%;
    right: 0%;
    opacity: 50%;
}
.buy-info{
    display: flex;
    text-align: center;
    
    
}

.buy-btn{
    z-index: 1000;
    position: absolute;
    padding: 2% 15%;
    background-color: #E5E5E5;
    border-radius: 4px;
    top: 60%;
    left: 25%;
    right: 25%;
    font-size: 5rem;
    border: solid ;

}
.buy-btn:hover {  
    box-shadow: 3px 1rem 2rem rgba(0, 0, 0, .3);
    transform: translateY(-1rem);
}
/*start media*/

@media screen and (max-width: 900px){
   
    #logo2{
        width: 40%;
        position: absolute;
        top: 5%;
        left: -19%;
        right: -19%;
        transform: translateY(-50%); 
        z-index: 10000000;
    }
    .logo{
       padding: 1.5rem;
   }
   .menu ul{
       height: 5rem;
       font-size: 1.4rem;
   }
   .menu ul li{
       padding: 0 1.5rem;
       line-height: 5rem;
   }
   
   
   .tone-2 img{
    left: -50%;
    position: absolute;
    top: 40%;
}
    label{
        display: flex;
        cursor: pointer;
        margin-right: 80%;
    }
    #toggle:checked + .menu {
       display: none;
    }

}
@media screen and (max-width: 900px){
    
    .tone-2 img{
        position: absolute;
        left: -75%;
        top: 25%;
        width: 150%;
    }
    .product-info h1{
        font-size: 3.5rem;
        position: absolute;
        top: 42%;
        left: 10%;
        right: 10%;
        z-index: 1000;
        font-family: 'Work Sans';

    }
    .product-info h2{
        font-size: 2rem;
        position: absolute;
        left: 47.5%;
        right: 47.5%;
        top: 59%;
        z-index: 1000;
        font-family: 'Work Sans';

    }
    .product-info p{
        font-size: 1.5rem;
        position: absolute;
        top: 48%;
        left: 1%;
        right: 1%;
        text-align: center;
        z-index: 1000;
        font-family: 'Work Sans';

    }
    .btn{
        padding: 1rem;

    }

    .discover-btn{
        position: absolute;
        top: 64%;
        left: 45%;
        z-index: 1000;

    }
    .cart-btn{
        position: absolute;
        left: 43.5%;
        top: 69%;
        z-index: 1000;
       
    }
    .main-left img{
        position: absolute;
        width: 100%;
        z-index: 999;
       
    }
    .product-info2 h1{
        position: absolute;
        top: 30%; 
        left: -85%;
        right: 15%;
        z-index: 1000;
        
    
    }
    .product-info2 p{
        font-size: 1.5rem;
        position: absolute;
        top: 45%; 
        left: -85%;
        right: 15%;

    }
    .promo{

        background-color: #F2F2F2;
        position: absolute;
        width: 100%;
        height: 70vh;
        top: 180%;
        
    }

    .menu{
        display: flex;
        border-bottom: none;
        flex-direction: column;
        width: 50%;
        height: 100vh;
        background-color: #E5E5E5;
        justify-content: space-between;
        display: none;
        
    }
    .menu ul{
        height: initial;
        display: block;
        font-size: 2rem;
        text-align: center;
    }
    .menu ul li{
        padding: 0;
        line-height: initial;
        margin-bottom: 2rem;
    }
    .logo{
        padding: 0;

    }
    .nav-right ul li,
    .nav-right ul li:nth-child(1){
         border: none;
    }  
} 


@media screen and (max-width: 1924px){
.buy-btn{
    z-index: 1000;
    position: absolute;
    padding: 1% 1%;
    background-color: #E5E5E5;
    border-radius: 4px;
    top: 50%;
    left: 25%;
    right: 25%;
    font-size: 5rem;
    border: solid ;
}
.promo h4 {
    font-size: 10rem;
}
}
@media screen and (max-width: 460px){
    .product-info h1{
        font-size: 3.5rem;
        position: absolute;
        top: 35%;
        left: 10%;
        right: 10%;
        z-index: 1000;
        font-family: 'Work Sans';

    }
    .discover-btn{
        position: absolute;
        top: 74%;
        left: 40%;
        z-index: 1000;

    }
    .cart-btn{
        position: absolute;
        left: 37%;
        top: 80%;
        z-index: 1000;
}
.product-info h2{
    font-size: 2rem;
    position: absolute;
    left: 45.5%;
    right: 47.5%;
    top: 65%;
    z-index: 1000;
    font-family: 'Work Sans';
}
.product-info2 h1{
    font-size: 3rem;
    position: absolute;
    top: 20%; 
    left: -85%;
    right: 15%;
    z-index: 1000;
    
}
.product-info2 p{
    font-size: 1.2rem;
    position: absolute;
    top: 40%;
}



}
@media screen and (max-width: 766px){
    .promo h4 {
       position: absolute;
        font-size: 6rem;
        right: 20%;
        left: 20%;
    }
    .buy-btn{
        z-index: 1000;
        position: absolute;
        padding: 1% 1%;
        background-color: #E5E5E5;
        border-radius: 4px;
        top: 70%;
        left: 25%;
        right: 25%;
        font-size: 2rem;
        border: solid ;
    }
    .left {
        position: absolute;
        width: 150%;
        left: -79%;
        bottom: 5%;
        opacity: 50%;
    }
    
    .right{
        position: absolute;
        width: 150%;
        bottom: 3%;
        right: 0%;
        opacity: 50%;
    }

}
@media screen and (max-width: 300px){

   
    .policy p{
        position: absolute;
        height: 510vh;
        background-color: #DCDCDC;
        top: 235%;
        text-align: center;
        font-size: 5%;
        z-index: 100000;
        margin-top: -37%;
       
        
    }
    .policy span{
        color: #500000;
        
    }

}

/*end media*/

    
   
.policy p{
    height: 10vh;
    background-color: #DCDCDC;
    text-align: center;
    margin-top: 30%;
    padding-top: 10px;
    font-size: 200%;
    z-index: 1000;
}
.policy span{
    color: #500000;
    
}
